<RunSettings>  
    <TestRunParameters>
        <Parameter name="customerUrl" value="https://jti.client.cloud.openloyalty.io/#!/" />
         <Parameter name="adminUrl" value="https://jti.admin.cloud.openloyalty.io/#!/" />
         <Parameter name="apiAdminLogin" value="https://jti.web.cloud.openloyalty.io" />
         <Parameter name="customerUsername" value="dejan@toptal.com" />
         <Parameter name="customerPassword" value="jP8UAfBO46" />
         <Parameter name="adminUsername" value="admin" />
         <Parameter name="adminPassword" value="open" />
    </TestRunParameters>
</RunSettings> 
